* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
nav {
  height: 50px;
  background-color: #240066;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  padding: 30px;
}

.modal {
  display: none;
  /*should be none*/
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-click {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-click2 {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.callout {
  position: relative;
  z-index: 99;
  width: 600px;
  height: 400px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
}

.success-modal {
  display: none;
  /*should be none*/
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home {
  padding: 0 20%;
}
.home .image1 {
  background-color: aqua;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/image1.jpg);
  width: 600px;
  height: 350px;
  margin: 16px auto;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20%;
}
.about .image1 {
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/image2.jpg);
  margin: 20px 60px;
  min-width: 360px;
  height: 240px;
}

.signin {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}